/*reset.css*/
/* RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
/**:focus {*/
/*  outline: 3px dashed #228bec;*/
/*}*/
ul {
  list-style: none;
  padding: 0;
}
button {
  border: none;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;
}
button::-moz-focus-inner {
  border: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input,
input[type="text"],
textarea {
  border: solid 1px #CCCCCC;
  border-radius: 10px;
  padding: 10px;
}

button,
input {
  /* 1 */
  overflow: visible;
}
/*input[type="text"] {*/
  /*border-radius: 0;*/
/*}*/
body {
  width: 100%;
  font-family:"Helvetica Neue", sans-serif;
  /*font-size: 1.5rem;*/
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #eeeeee;
}

a {
  text-decoration: none;
  color: inherit;
}
